<%- include('../header')%>
    <!-- [ Main Content ] start -->
    <section class="pc-container">
        <div class="pc-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../dashboard/index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0)">Forms</a></li>
                                <li class="breadcrumb-item" aria-current="page">TypeAhead</li>
                            </ul>
                        </div>
                        <div class="col-md-4 d-flex">
                            <div class="page-header-title">
                                <h2 class="mb-0">Sub Category</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <form class="header-search">
                                <input type="search" class="form-control" id="searchInput"
                                    placeholder="Search here. . ." onkeyup="searchTable()">
                            </form>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->


            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-lg-12">

                    <% if(locals?.message?.success){ %>
                        <div class="alert alert-success" role="alert">
                            <strong>Success!</strong>
                            <%= locals.message.success %>
                        </div>
                        <% } %>
                            <!-- [ form-element ] start -->

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Sub Category</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="card">
                                                <div class="card-body">
                                                    <form action="/subcategory/insertsubcategory" method="post" onsubmit="return validateForm()">

                                                        <div class="form-group row my-3">
                                                            <label class="col-form-label text-lg-start">Category</label>

                                                            <div>
                                                                <div class="typeahead">
                                                                    <select name="category" class="form-control" required>
                                                                        <option value="">-- Select Category --</option>
                                                                        <% category.map((cat,index)=>{%>
                                                                            <option value="<%= cat?.id%>"><%=cat?.category%></option>
                                                                            <%}) %>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row mb-3">
                                                            <label class="col-form-label text-lg-start">Sub
                                                                Category</label>
                                                            <div>
                                                                <div class="typeahead">
                                                                    <input class="form-control" name="subcategory" id="subcategory" 
                                                                        type="text" placeholder="SubCategory" required>
                                                                    <div id="duplicateError" class="text-danger" style="display: none;">
                                                                        This subcategory already exists!
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="text-end p-4 pb-sm-2">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>

                                                            <button type="submit"
                                                                class="btn btn-primary d-inline-flex align-item-center">Submit</button>

                                                        </div>

                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                </div>
            </div>
            <!-- [ Main Content ] end -->


            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ sample-page ] start -->
                <div class="col-sm-12">

                    <% if(locals?.message?.delete){%>
                        <div class="alert alert-danger" role="alert">
                            <%= locals.message.delete %>
                        </div>
                        <%}%>

                            <div class="card table-card">

                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table table-hover" id="pc-dt-simple">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Category Name</th>
                                                    <th>Sub Category</th>
                                                    <th>Status</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <% subcategory.map((subcat,index)=>{ %>
                                                    <tr>
                                                        <td>
                                                            <%= ++index %>
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-0">
                                                                <%= subcat?.categoryId?.category %>
                                                            </h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-0">
                                                                <%= subcat?.subcategory %>
                                                            </h6>
                                                        </td>
                                                        <td>
                                                            <% if(subcat?.status==="active" ) { %>
                                                                <a href="#" class="badge bg-light-success f-12">
                                                                    <%= subcat?.status %>
                                                                </a>
                                                                <% }else{%>
                                                                    <a href="#" class="badge bg-light-danger f-12">
                                                                        <%= subcat?.status %>
                                                                    </a>
                                                                    <% } %>
                                                        </td>

                                                        <td class="text-center">
                                                            <ul class="list-inline me-auto mb-0">

                                                                <li class="list-inline-item align-bottom"
                                                                    data-bs-toggle="tooltip" title="Edit">
                                                                    <a href="#" data-bs-toggle="modal"
                                                                        data-bs-target="#exampleModal<%= subcat.id %>"
                                                                        class="avtar avtar-xs btn-link-success btn-pc-default">
                                                                        <i class="ti ti-edit-circle f-18"></i></a>
                                                                </li>

                                                                <li class="list-inline-item align-bottom"
                                                                    data-bs-toggle="tooltip" title="Delete">
                                                                    <a href="#" data-bs-toggle="modal"
                                                                        data-bs-target="#staticBackdrop<%= subcat.id %>"
                                                                        class="avtar avtar-xs btn-link-danger btn-pc-default">
                                                                        <i class="ti ti-trash f-18"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <%})%>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                </div>
                <!-- [ sample-page ] end -->
            </div>
            <!-- [ Main Content ] end -->




            <!-- Edit page -->

            <!-- Modal -->
            <% subcategory.map((single)=>{ %>
                <div class="modal fade" id="exampleModal<%= single.id %>" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit sub category</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <% if(locals?.message?.success){ %>
                                            <div class="alert alert-success" role="alert">
                                                <strong>Success!</strong>
                                                <%= locals.message.success %>
                                            </div>
                                            <% } %>
                                                <!-- [ form-element ] start -->
                                                <div class="card">
                                                    <div class="card-body">
                                                        <form action="/subcategory/updatesubcategory" method="post">
                                                            <input type="hidden" name="editid"
                                                                value="<%= single?.id %>">
                                                            <div class="form-group row my-3">
                                                                <label
                                                                    class="col-form-label  text-lg-start">Category</label>
                                                                <div>
                                                                    <div class="typeahead">
                                                                        <select name="category" class="form-control">
                                                                            <option value="">-- Select Category --
                                                                            </option>
                                                                            <% category.map((cat,index)=>{%>
                                                                                <option <% if(single?.categoryId?.category==cat?.category){ %> selected <% } %>
                                                                                     value="<%= cat?.id%>">
                                                                                            <%=cat?.category%>
                                                                                </option>
                                                                                <%}) %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-3">
                                                                <label class="col-form-label text-lg-start">Edit
                                                                    SubCategory</label>
                                                                <div>
                                                                    <div class="typeahead">
                                                                        <input class="form-control" name="subcategory"
                                                                            type="text"
                                                                            value="<%= single?.subcategory %>"
                                                                            placeholder="SubCategory">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-3">
                                                                <label
                                                                    class="col-form-label text-lg-start">Status</label>
                                                                <div>
                                                                    <select class="form-select" name="status">
                                                                        <option value="active">Active</option>
                                                                        <option value="inactive">Inactive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="text-end p-4 pb-sm-2">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button type="submit"
                                                                    class="btn btn-primary d-inline-flex align-item-center">
                                                                    </i>Update</button>
                                                                </button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>


                    <!-- Delete page -->

                    <% subcategory.map((subcat)=>{ %>
                        <div class="modal fade" id="staticBackdrop<%= subcat.id %>" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Delete Category</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete category?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <a href="/subcategory/deletesubcategory?id=<%= subcat.id %>"
                                            class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%})%>





        </div>
    </section>
    <!-- [ Main Content ] end -->




    <script>
        function searchTable() {

            let input = document.getElementById("searchInput");
            let filter = input.value.toLowerCase();

            let table = document.getElementById("pc-dt-simple");
            let tr = table.getElementsByTagName("tr");


            for (let i = 1; i < tr.length; i++) {
                let td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    let txtValue = td.textContent || td.innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        async function validateForm() {
            const subcategory = document.getElementById('subcategory').value;
            const category = document.querySelector('select[name="category"]').value;
            
            try {
                const response = await fetch('/subcategory/check-duplicate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ subcategory, category })
                });
                
                const data = await response.json();
                
                if (data.exists) {
                    document.getElementById('duplicateError').style.display = 'block';
                    return false;
                }
                
                document.getElementById('duplicateError').style.display = 'none';
                return true;
            } catch (error) {
                console.error('Error checking duplicate:', error);
                return false;
            }
        }
    </script>


    <%- include('../footer')%>